  <!DOCTYPE html>
<html>
  <head>
    <title>Historic East Village Business Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="stylesheets/map.min.css" rel="stylesheet" type="text/css"></link>
   <!-- TODO: does this have to be in the head? -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBL0KrKrs7oKIS0Dlo3s9-ktwCt2iwCE1s&sensor=false&libraries=places"></script>
    <script src="javascripts/map.min.js"></script>
  </head>
  <body>

    <div id="map-canvas">
      <!-- where the magic happens -->    
    </div>  

    <div id="select-container" class="map-overlay">
      <select id="select-cat" onchange="changeCategory(this)">
        <option value="shop" title="explore shopping" selected>&nbsp&nbsp Shop</option> 
        <option value="dine" title="explore dining" >&nbsp&nbsp Dine</option>
        <option value="drink" title="explore cafés and nightlife">&nbsp&nbsp Drink</option>
      </select>
    </div>
    <div id='place-detail-pane'></div>
    <footer>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36362400-6', 'hev.herokuapp.com');
        ga('send', 'pageview');

      </script>
    </footer>
  </body>
</html>



