      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px

      }
      body{ 
      	position: relative; 
      }

      #place-detail-pane {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;     
          height: 140px;
          box-shadow: 0px 0px 15px black;
          background: white;
          padding: 10px;
          -webkit-transform-origin: 100% 100%;
          -moz-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
          -o-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
          -webkit-transform: scaleY(0.00001);
          -moz-transform: scaleY(0.00001);
          -ms-transform: scaleY(0.00001);
          -o-transform: scaleY(0.00001);
          transform: scaleY(0.00001);
          -webkit-transition: -webkit-transform 0.2s ease-in-out;
          -moz-transition: -moz-transform 0.2s ease-in-out;
          -ms-transition: -ms-transform 0.2s ease-in-out;
          -o-transition: -moz-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
          outline: 0;
      }
      #place-detail-pane:target {
          -webkit-transform: scaleY(1);
          -moz-transform: scaleY(1);
          -ms-transform: scaleY(1);
          -o-transform: scaleY(1);
          transform: scaleY(1);
      }

      #categories-list{
        position: absolute; top: 10px; left: 10px;
      }
      .map-overlay{ 
      	position: z-index: 99; 
      }
      .comment { 
      	background-color: white; 
      }

      #select-container{
          position: absolute; 
          top: 15px; 
          right: 10px; 
      }

      #select-container select {
          width: 268px;
          padding: 5px;
          padding-left: 18px;
          margin-right: -25px;
          font-size: 16px;
          line-height: 1.5;
          border-radius: 0;
          height: 34px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;          
      }

      @-moz-document url-prefix() {
        #select-container select {
          text-overflow: '';
          text-indent: 0.1px; 
        }
      }

      #select-container select::-ms-expand {
          display: none;
      }

      select {
          background: 
             -webkit-radial-gradient(
              8px 17px, 
              circle closest-side
              , #40AD48 75%, white 10%);
          background: 
             -moz-radial-gradient(
              8px 17px, 
              circle closest-side
              , #40AD48 75%, white 10%);
          background: 
             -ms-radial-gradient(
              8px 17px, 
              circle closest-side
              , #40AD48 75%, white 10%);
      }

      select.shop {
          background: 
             -webkit-radial-gradient(
              8px 17px, 
              circle closest-side
              , #40AD48 75%, white 10%);
          background: 
             -moz-radial-gradient(
              8px 17px, 
              circle closest-side
              , #40AD48 75%, white 10%);
          background: 
             -ms-radial-gradient(
              8px 17px, 
              circle closest-side
              , #40AD48 75%, white 10%);
      }

      select.dine {
          background: 
             -webkit-radial-gradient(
              8px 17px, 
              circle closest-side
              , #EC008B 75%, white 10%);
          background: 
             -moz-radial-gradient(
              8px 17px, 
              circle closest-side
              , #EC008B 75%, white 10%);
          background: 
             -ms-radial-gradient(
              8px 17px, 
              circle closest-side
              , #EC008B 75%, white 10%);
      }

      select.drink {
          background: 
             -webkit-radial-gradient(
              8px 17px, 
              circle closest-side
              , #00ADEF 75%, white 10%);
          background: 
             -moz-radial-gradient(
              8px 17px, 
              circle closest-side
              , #00ADEF 75%, white 10%);
          background: 
             -ms-radial-gradient(
              8px 17px, 
              circle closest-side
              , #00ADEF 75%, white 10%);
      }

      .__select--after{
        pointer-events: none;
      }

      .p-tel,
      .p-name {
        white-space: nowrap;
      }

      .p-name {
        font-size: 14px;
      }

      dt,
      dd{
        display: inline-block;
      }
      dd{
        margin: 0; 
        padding: 0;
      }